[submodule "rust/byedpi"]
	path = rust/byedpi
	url = https://github.com/hufrea/byedpi
[submodule "app/src/main/jni/hev-socks5-tunnel"]
	path = app/src/main/jni/hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel
